In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import seaborn as sns
import warnings as wrn
wrn.filterwarnings('ignore')
from preprocess import breakdown_vars
from preprocess import dummies_ohe
from preprocess import std_z
from preprocess import Xy

In [3]:
df = pd.read_excel("bank_churn.xlsx")

In [4]:
df.to_csv("Churn-data.csv")

In [5]:
df['churn'] = df['attrition_flag'].replace(['Existing Customer', 'Attrited Customer'], [0, 1])
df.drop(columns=['clientnum','avg_open_to_buy','attrition_flag','credit_limit'], inplace=True)
df['churn'].value_counts(normalize=True) # Unbalance data....

churn
0    0.83934
1    0.16066
Name: proportion, dtype: float64

In [6]:
cats, binaries, nonormal, normal  = breakdown_vars(df)

In [7]:
cats

['gender',
 'education_level',
 'marital_status',
 'income_category',
 'card_category']

In [8]:
df =  dummies_ohe(df, cats)

In [9]:
df.columns

Index(['customer_age', 'dependent_count', 'months_on_book',
       'total_relationship_count', 'months_inactive_12_mon',
       'contacts_count_12_mon', 'total_revolving_bal', 'total_amt_chng_q4_q1',
       'total_trans_amt', 'total_trans_ct', 'total_ct_chng_q4_q1',
       'avg_utilization_ratio', 'churn', 'gender_M',
       'education_level_Doctorate', 'education_level_Graduate',
       'education_level_High School', 'education_level_Post-Graduate',
       'education_level_Uneducated', 'education_level_Unknown',
       'marital_status_Married', 'marital_status_Single',
       'marital_status_Unknown', 'income_category_$40K - $60K',
       'income_category_$60K - $80K', 'income_category_$80K - $120K',
       'income_category_Less than $40K', 'income_category_Unknown',
       'card_category_Gold', 'card_category_Platinum', 'card_category_Silver'],
      dtype='object')

In [10]:
X,y = Xy(df,'churn')

In [11]:
y

0        0
1        0
2        0
3        0
4        0
        ..
10122    0
10123    1
10124    1
10125    1
10126    1
Name: churn, Length: 10127, dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle = True, random_state = 666, stratify=y)

In [13]:
m, s = X_train['customer_age'].mean(), X_train['customer_age'].std()

In [14]:
(X_test['customer_age'] - m)/s

4018    0.215144
8196   -0.406913
6051    0.463966
8173    0.090732
8153   -0.406913
          ...
6989    0.463966
5321   -0.780147
2927    0.712789
2784   -1.526615
8489   -0.780147
Name: customer_age, Length: 2026, dtype: float64

In [15]:
from preprocess import standardize_X_test
standardize_X_test(X_train, X_test)

customer_age
dependent_count
months_on_book
total_relationship_count
months_inactive_12_mon
contacts_count_12_mon
total_revolving_bal
total_amt_chng_q4_q1
total_trans_amt
total_trans_ct
total_ct_chng_q4_q1
avg_utilization_ratio

      customer_age  ...  card_category_Silver
4018      0.215144  ...                   1.0
8196     -0.406913  ...                   0.0
6051      0.463966  ...                   0.0
8173      0.090732  ...                   0.0
8153     -0.406913  ...                   0.0
...            ...  ...                   ...
6989      0.463966  ...                   0.0
5321     -0.780147  ...                   0.0
2927      0.712789  ...                   0.0
2784     -1.526615  ...                   0.0
8489     -0.780147  ...                   0.0

[2026 rows x 30 columns]

In [16]:
# Means and variance
locations_scales = {}
for column in nonormal + normal:
    locations_scales[column] = [X_train[column].mean(), X_train[column].std()]